# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Pocketbase
./pb/pocketbase
./pb/*.md

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.packages
pubspec.lock

# Android specific
android/.gradle/
android/app/build/
android/build/
.gradle/
local.properties

# Linux specific
linux/flutter/ephemeral/
linux/build/

# macOS specific
macos/Flutter/ephemeral/
macos/Runner.xcworkspace/

# Windows specific
windows/flutter/ephemeral/
windows/build/

# Web specific
build/web/

# Misc
.idea/
.vscode/
*.iml
*.log
*.bak
*.swp

# System Files
.DS_Store
Thumbs.db

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
